<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
</head>
<body>

<div> Seja Bem Vindo, <span th:text="${name}"></span> </div>
<div> Email: <span th:text="${email}"></span> </div>
<div>
	<img th:src="${picture}" referrerpolicy="no-referrer">
</div>
<a href="/logout">Logout</a>
</body>
</html>