<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

<div class="max-w-sm mx-auto mt-4 bg-white rounded-lg overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Faça Login</div>
        <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo sem nec eros pulvinar, sit amet ultrices massa rhoncus.</p>
    </div>
    <div class="px-6 py-4">
        <a href="/oauth2/authorization/google" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Faça login com o Google</a>
    </div>
</div>

</div>
</body></html>